# If Solr requires auth for update requests, SOLR_URL must also be usable by the CLI.
SOLR_SCHEME=http
SOLR_PORT=8090
SOLR_HOSTNAME=solrcloud.example.org
SOLR_AUTH_USER=solr
SOLR_AUTH_PASSWORD=changeme
SOLR_HOST=${SOLR_SCHEME}://${SOLR_HOSTNAME}:${SOLR_PORT}
SOLR_COLLECTION=gencon50-v3.0.1
SOLR_URL=${SOLR_HOST}/solr/${SOLR_COLLECTION}
