SOLR_PORT=8090
SOLR_HOSTNAME=solrcloud.example.org
SOLR_USER=solr
SOLR_PASSWORD=changeme
SOLR_HOST=http://${SOLR_USER}:${SOLR_PASSWORD}@${SOLR_HOSTNAME}:${SOLR_PORT}
SOLR_URL=${SOLR_HOST}/solr/gencon50-v3.0.1
